body, html {
	height: 100vh
}

body {
	margin: 10px 15px 10px 15px
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 5% 95% 45% 45% 15% 5%
	grid-template-areas: 
		"header header"
		"about about"
		"case case"
		"case2 case2"
		"contact contact"
		"footer footer";
}

header {
	grid-area: header;
	background-color: #007FFF;
}

div:nth-of-type(1) {
	grid-area: about;
	background-color: #91C8FF;
}

div:nth-of-type(2) {
	grid-area: case;
	background-color: #B3D8FD;
}

div:nth-of-type(3) {
	grid-area: case2;
	background-color: #5E86AF;
}

div:nth-of-type(4) {
	grid-area: contact;
	background-color: #7DA9D5;
}

footer {
	grid-area: footer;
	background-color: #588EC3;
}