body {
	font-family: 'Montserrat', serif;
}
ul li {
	display: inline;
}
h1 { font-size: 0.42em
}
h2 { font-size: 0.26em
}
h3 { font-size: 0.16em
}
p { font-size: 0.16em
}
.navi { font-size: 0.16em; 
}

.myfoto { size: 35px;
}
.case_study_image {

}
.case_study_text {

}