body {
	font-family: 'Montserrat', serif;
	font-size: 120px;
}

ul li {
	display: inline;
}

h1 { font-size: 0.42em
}

h2 { font-size: 0.26em
}

h3 { font-size: 0.16em
}

p { font-size: 0.16em
}

.navi { font-size: 0.16em; 
}